.navbar-logo img {
    height: 40px;
    width: auto;
    margin-right: 12px;
}
@font-face {
    font-family: 'MyCustomFont';
    src: url('assets/fonts/MyCustomFont.ttf');
}

.font-custom{
    font-family: 'MyCustomFont';
}
